---
layout: default
title: Projects
id: projects
---
<div class="card-deck">
  {% for project in site.projects %}
    {% assign remainder = forloop.index0 | modulo: 4 %}
    {% if remainder == 0 %}
      <div class="row">
    {% endif %}
    <div class="card">
      <a href="{{ project.link }}">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <div class="card-text">{{ project.description }}</div>
        </div>
      </a>
    </div>
    {% if remainder == 3 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
