<footer>
  <div class="row">
    <div class="col-4">
      <img src="images/test.jpg" class="img-fluid"/>
    </div>
    <div class="col-6">
      <a href="/contact.html">Contact Me</a>
      <a href="/Resume.pdf">Resume</a>
      <div class="row">
        <div class="col-2">
          <a target="_blank" href="{{ site.li_url }}"><img id="li-logo" src="images/LI-In-Bug.png" /></a>
        </div>
        <div class="col-2">
          <a target="_blank" href="{{ site.gh_url }}"><img id="gh-logo" src="images/GitHub-Mark-32px.png" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
